 /*------------------ Small screens ----------------- */

 /* Define mobile styles */
@media only screen {

  
  
}

@media only screen and (max-width: 40em) {
    
    #about {
        
    height: 14px;     
    margin-bottom: 0;  
        
    }
    
    .meet {
        
    font-size: 30pt; 
    opacity: 0;
        
    }
    
    .aboutp {
        
    margin-top: -30px; 
    margin-left: 0; 
    font-size: 14pt; 
    margin-bottom: 0;  
   opacity:0;
        
    }
    .fam {
        
    width: 20px;     
    opacity: 0;    
        
    }
    
    
    #order {
        
    width: 50%; 
    text-align: center;
        
        
    }
    #greenbox {
        
     width: 100%;    
    margin-top: -1%;   
     margin-left: 0;   
    }
    
    
    #quote {
        
    font-size: 14pt;     
        
        
    }
    
    
    
    #panelly  {
    margin-top: -1%;  
     width: 100%;    
        
        
    }
    .meet2 {
        
  font-size: 22pt; 
        
    }
    

    .aboutp2 {
        
       font-size: 12pt;  
        
    }
    .footerh5 {
        
    margin-left: -4%;     
        
        
    }
    
    
    #cart {

       right: -100px;    
    }
    
    input[type=submit] {
    cursor:pointer;
    width: 50%;
    margin-top: -15px; 
}

    #mcartbutton{
        
        position:fixed;
        background-color:#fff;
        border-top-left-radius:50%;
        border-bottom-left-radius:50%;
        padding:16px;
        z-index:999;
        top:25vh;
        right:-10px;
        
    }
    
    #whitebox2{
      
        width: 100%;
        margin-left: 0;
        
        
    }
    
    #contactbody {
	  background:#6FB98F;
  	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    align-content: center;
    padding-top:5%;
    padding-left: 10%;
    margin-left: 0;
    margin-top: -25px;
    padding-right: 2%;
    padding-bottom: 12%;
   width: 100%; 
    

}
    
    #mcartbutton i{
        font-size:34pt;
    }
  
    
    .header {
        font-size:84%;
    }

    .navmen {
        height:5vh;
        width:100%;
        margin:0;


    }
    
    #navItems {
          padding: 0;
          margin: 0;
          list-style: none;
          height:100%;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;

          -webkit-flex-flow: row wrap;
          justify-content: space-around;
          width:100%;

    }
    
    #navItems li {
        margin:0%;
       
        width:25%;
        padding:0 2%;
        text-align: center;
        font-size:120%;
    }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */







 /*------------------ Medium screens ----------------- */

@media only screen and (min-width: 40.063em) {


} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */




  /*------------------ Large screens ----------------- */
@media only screen and (min-width: 64.063em) {


} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 



} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */








 /*------------------  XLarge screens ----------------- */
@media only screen and (min-width: 90.063em) {



} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { 


} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */





 /*------------------ XXLarge screens ----------------- */
@media only screen and (min-width: 120.063em) { 


} /* min-width 1921px, xxlarge screens */