
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

@font-face {
    font-family: Pacifica;
    src: url(../libs/font/Pacifica-Condesnsed-Regular.ttf);
}

html, body {
<<<<<<< HEAD
font-family: 'Roboto Condensed', sans-serif;
font-size: 14pt;

}

.bodybackground {
height: 45vh;   
background-image: url(../img/greek.jpg);
no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
 -o-background-size: cover;
background-size: cover;


        
}
.clearbox {
 background-color:  #33CCCC;
opacity: 0.3;
height: 89vh;
width: 39%;
margin-left: 4%; 
margin-bottom: 5%;
=======
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14pt;
background-color: #FFFFFF;
}


.clearbox {
 background-color: #FFFFFF;
opacity: 0.7;
height: 89vh;
width: 41.6%;
margin-left: 3%;     
    
}

.white {
 
background-image: url('<?php echo $profpic;?>');    
width: 50%;
height: 90vh;
>>>>>>> 1de6e44e78d3fdb195b4f174cff7828fa42ac30b
    
}


.green{
    background-color:#6fb98f;
    float:left;
    height:35vh;
    margin-left: 3%;
<<<<<<< HEAD
    margin-top: 5%;
=======
    
>>>>>>> 1de6e44e78d3fdb195b4f174cff7828fa42ac30b
}

.green h2 {
    font-family:Pacifica;
    color:#fff;
    margin: 4%;
}

input {
  border: solid 1px;
  padding: 4px;
}
input:hover {
  border: 1px solid #999;
  color: #000000;
}
input[type="button"]:active, input[type="reset"]:active {
   border: 1px solid #fa89ad;
   color:#98a077;
   background-color: #000000;
}

#shoppingCartContainer {
  background-color: #aabbff;
  float: right;
}

#shoppingCart {
  list-style-type: none;
}

#shoppingCart li {
  width: 100%;
}

#productTable{
  border: 1px solid black;
  float: left;
  width: 100%;
}

#productTable input {
  width: 60px;
}

#loginFormContainer {
  float: left;

}



#navItems li {
  display: inline;
<<<<<<< HEAD
margin-top: 0%;
=======

>>>>>>> 1de6e44e78d3fdb195b4f174cff7828fa42ac30b
  padding: 2%; 
}

#messages {
  float: left;
  clear: both;
}

#nav {
<<<<<<< HEAD

margin-top: 25%;
width: auto;
height: 2vh;
=======
background-color: #E8E8E8;
width: auto;
height: 35vh;
>>>>>>> 1de6e44e78d3fdb195b4f174cff7828fa42ac30b
    
}

#footer {
  background-color: #336b87;
  clear: both;
  padding-top: 20px;
}

#logoutFormContainer, #loginFormContainer {
  width: 200px;
}

.info {
  color: #00aa00;
}

.warning {
  color: #FFA500;
}

.error {
  color: #ff0000;
}
