

@font-face {
    font-family: Pacifica;
    src: url(../libs/font/Pacifica-Condensed-Regular.ttf);
}

html, body {

    font-family:'Martel Sans', sans-serif;
    font-size: 16pt;

}

a {
    color:#045184;   
}

a:hover {
    color:#3588CC;   
}

.bodybackground {
    height: 45vh;   
    background-image: url(../img/greek.jpg);
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;


        
}
.clearbox {
    background-color:  #33CCCC;
    opacity: 0.3;
    height: 89vh;
    width: 39%;
    margin-left: 4%; 
    margin-bottom: 5%;
    font-size: 14pt;
    background-color: #FFFFFF;
}



.clearbox {
    background-color: #FFFFFF;
    opacity: 0.7;
    height: 89vh;
    width: 41.6%;
    margin-left: 3%;     
    
}

.white {
   
}

.white-to-green {
    background: -webkit-linear-gradient(-40deg, rgba(255,255,255,1) 50%,rgba(111,185,143,1) 50%,rgba(111,185,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(120deg, rgba(255,255,255,1) 50%,rgba(111,185,143,1) 50%,rgba(111,185,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    background: -moz-linear-gradient(-40deg, rgba(255,255,255,1) 50%, rgba(111,185,143,1) 50%, rgba(111,185,143,1) 100%); /* FF3.6-15 */
    
     height:30vh;
}

.green-to-white {
    background: -webkit-linear-gradient(-40deg, rgba(111,185,143,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(-60deg, rgba(255,255,255,1) 50%,rgba(111,185,143,1) 50%,rgba(111,185,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    background: -moz-linear-gradient(-40deg, rgba(111,185,143,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* FF3.6-15 */
    
     height:30vh;
}

.header{
    background-color:#6fb98f;
    float:left;
    height:30vh;
    

}

.titlewrap {  
    width:100%;
    margin:10% 0%;
}
.header h2 {
    font-family:Pacifica, sans-serif;
    color:#fff;
    float:right;
    font-size:180%;
    clear:both;
}

.subtitle {
    font-family:Pacifica, sans-serif;
    color:#626262;
    float:right;
    text-align:center;
    clear:both;
    font-size:140%;

}

#nav {
    clear:both;
}

.navmen {
    height:30vh;

}

#navItems {
    margin-top:20vh;
    float:right;
}

#navItems li {
    display: inline;
    font-family:Pacifica, sans-serif;
    color:#3588CC;
    font-size:140%;
}


#content {

    background-image: url('../img/greek.jpg');
    background-repeat:no-repeat;
    background-size:80%;
    height:65vh;

}


input {
  border: solid 1px;
  padding: 4px;
}
input:hover {
  border: 1px solid #999;
  color: #000000;
}
input[type="button"]:active, input[type="reset"]:active {
   border: 1px solid #fa89ad;
   color:#98a077;
   background-color: #000000;
}

#shoppingCartContainer {
  background-color: #aabbff;
  float: right;
}

#shoppingCart {
  list-style-type: none;
}

#shoppingCart li {
  width: 100%;
}

#productTable{
  border: 1px solid black;
  float: left;
  width: 100%;
}

#productTable input {
  width: 60px;
}

#loginFormContainer {
  float: left;

}

#messages {
  float: left;
  clear: both;
}

#nav {
  
}

#footer {
    background-color: #336b87;
    clear: both;
    height:5vh;
    position:fixed;
    bottom:0;
}

#logoutFormContainer, #loginFormContainer {
  width: 200px;
}

.info {
  color: #00aa00;
}

.warning {
  color: #FFA500;
}

.error {
  color: #ff0000;
}
