

@font-face {
    font-family: Pacifica;
    src: url(../libs/font/Pacifica-Condensed-Regular.ttf);
}


@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic);



/* ---------------------------------------------- /*
 * CONTACT
/* ---------------------------------------------- */

#whitebox-contact{
    
 background-color:#FFFFFF;
    opacity: 1.0;
    float:left;
    margin-left: 4.2%;
    margin-right: 6%;
    padding-left: 6%;
   margin-top: 5%;
    width:100%;    
    
    
}



.map {
    
    
padding: 15%; 
    
}
/* ---------------------------------------------- /*
 * Menu Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6, h8 {
	font: 700 30pt/1.2 'Pacifica', serif;

    color: #3588CC; 
}

h2 {
	font-size: 48pt;
	margin: 0 0 18pt;
}

h3 {
	font-size: 25pt;
	padding-top: 15%;
    margin-left: -5%;
    margin-top: 5%;
     margin-bottom: 5%;
}

h4 {
	font-size: 20pt;
	margin: 0 0 10pt;
}

h5 {
	font-size: 18pt;
	font-weight: 400;
	margin: 0 0 8pt;
}

h6 {
	font-size: 16pt;
	font-weight: 400;
	margin: 0 0 5pt;
}

blockquote {
	font: 700 50pt/1.2 'Dancing Script', cursive;
	margin: 0 0 20pt;
	padding: 0;
	border: 0;
}

blockquote small,
blockquote footer,
blockquote .small {
	display: block;
	font-size: 40%;
	line-height: 1.42857143;
	color: #999;
}

.intro-title,
.module-title,
.callout-text,
.iconbox-title {
	font: 700 28pt/1.2 'Dancing Script', cursive;
	margin: 0 0 18pt;
}

.module-title,
.callout-text {
	font-size: 50pt;
}

.module-subtitle {
	font-family: Pacifica;
    color: #3588CC;   

    
    
}

.intro-title {
	font-size: 55pt;
}


/* ---------------------------------------------- /*
 * Menu
/* ---------------------------------------------- */

.menu {
	border-bottom: 1px dotted #DDD;
	padding: 0 0 10%;
	margin: 0 0 2%;
}

.menu-classic img {
	margin: 0 0 10%;
}

.menu-title,
.menu-price {
	font-size: 10pt;
	margin: 0;
}

.menu-detail {
	font-size: 10pt;
}

.menu-price-detail {
	position: relative;
	text-align: right;
}

.menu-label {
	background: #fae7d7;
	position: relative;
	display: inline-block;
	padding: 2% 10% 0% 10%;
	font-family: 'Crimson Text', serif;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 13pt;
	float: right;
	top: 5%;
}





/* ---------------------------------------------- /*
//**About Page**//



#aboutp {
 	font-family: 'Crimson Text', serif;   
    
    
    
}


.owners {
    
width: 100%; 

position: relative;
       
}


.meet2 {
font-family: Pacifica;
color: #3588CC;   
margin-left: 5%;

    
    
}

#panelly2 {
    
    background-color:rgba(255, 255, 255, 0.8);
    margin-top:1%;
    margin-bottom:1%;

    float:left;
}



#content2 {
    padding: 12%;
    padding-left: 3%;
   margin-left: 4%;
    text-align: left;
  
    float: left;
}




#bg2 {

    background-image: url('../img/greece4.png');
    background-repeat:no-repeat;
    background-size:cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    padding:0;
    position:fixed;
    bottom:0;
    width:100%;
    height:100%;
    z-index: -1;

}

#about2 {
    
    background-color:rgba(255, 255, 255, 1);
    width:100%;
    margin:0;
    padding:4%;
    height: 100%;
    

}



#whitebox {
    background-color:#FFFFFF;
    opacity: 1.0;
    float:left;
    margin-left: 4.2%;
    padding-left: 6%;
    width:50%;
}



/* ---------------------------------------------- /*
//**Home Page**//





html, body {

    font-family:'Crimson Text', serif;   
    font-size: 16pt;

}

#read{
font-family: Pacifica;
color: #3588CC;
    
      
    
}


.meet {
font-family: Pacifica;

color: #3588CC;   

    
    
}

.fam {
   float : left;
 position: relative;
    
}

#aboutp {
 
 font-size: 18pt;
float: right;
    
    
}


.columns {
    padding:0;
    float:left;
}

.spacing {
    display: block;
}

a {
    color:#045184;   
}

a:hover {
    color:#3588CC;   
}

#content {
    padding-top: 10%;
}

.bodybackground {
    height: 45vh;   
    background-image: url(../img/greek.jpg);
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;


        
}



.clearbox {
    background-color: #FFFFFF;
    opacity: 0.7;
    height: 89vh;
    width: 41.6%;
    margin-left: 3%;     
    
}

.white {
   
}

.white-to-green {
    background: -webkit-linear-gradient(-40deg, rgba(255,255,255,1) 50%,rgba(111,185,143,1) 50%,rgba(111,185,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(120deg, rgba(255,255,255,1) 50%,rgba(111,185,143,1) 50%,rgba(111,185,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    background: -moz-linear-gradient(-40deg, rgba(255,255,255,1) 50%, rgba(111,185,143,1) 50%, rgba(111,185,143,1) 100%); /* FF3.6-15 */
    
     height:20vh;
}

.green-to-white {
    background: -webkit-linear-gradient(-40deg, rgba(111,185,143,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(-60deg, rgba(255,255,255,1) 50%,rgba(111,185,143,1) 50%,rgba(111,185,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    background: -moz-linear-gradient(-40deg, rgba(111,185,143,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* FF3.6-15 */
    
     height:20vh;
}

.header{
    background-color:#6fb98f;
    float:left;
    height:20vh;
}

.titlewrap {  
    width:100%;
    margin:10% 0%;
}
.header h2 {
    font-family:Pacifica, sans-serif;
    color:#fff;
    float:right;
    font-size:160%;
    clear:both;
}

.subtitle {
    font-family:Pacifica, sans-serif;
    color:#626262;
    float:right;
    text-align:center;
    clear:both;
    font-size:120%;

}

#nav {
    clear:both;
    background-color:#fff;
}

.navmen {
    height:20vh;

}

#navItems {
    margin-top:10vh;
    float:right;
    margin-right:10%;
}

#navItems li {
    display: inline;
    font-family:Pacifica, sans-serif;
    color:#3588CC;
    font-size:140%;
}


#bg {

    background-image: url('../img/greekbg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    padding:0;
    position:fixed;
    bottom:0;
    width:100%;
    height:100%;
    z-index: -1;

}

#panelly {
    
    background-color:rgba(255, 255, 255, 0.8);
    margin-top:1%;
    margin-bottom:1%;

    float:left;
}

#panelly img {
    border-radius: 5%;
    width:80%;
    clear:both;
    float:left;
    margin:10%;
}

#quote {
    padding-left:10%;
    padding-top:8%;
    padding-right:20%;
    float:left;
    color:#626262;
    font-style: italic;
}

#order {
    
    float:right;
    clear:both;
    background-color:#6FB98F;
    padding:10px;
    color:#fff;
    margin:0 22%;
}


#order:hover {
    background-color:#4A7B5F;
}

#middlewrap {
    
    height:80%;
}

#greenbox {
    background-color:#6FB98F;
    color:#fff;
    float:left;
   
    margin-left:10%;
    margin-top:50%;
    padding:6%;
    width:50%;
}

#about {
    
    background-color:rgba(255, 255, 255, 1);
    width:100%;
    margin:0;
    padding:4%;
    

}

#about img {
    
    width:40%;
}

input {
  border: solid 1px;
  padding: 4px;
}
input:hover {
  border: 1px solid #999;
  color: #000000;
}
input[type="button"]:active, input[type="reset"]:active {
   border: 1px solid #fa89ad;
   color:#98a077;
   background-color: #000000;
}

#shoppingCartContainer {
  background-color: #aabbff;
  float: right;
}

#shoppingCart {
  list-style-type: none;
}

#shoppingCart li {
  width: 100%;
}

#productTable{
  border: 1px solid black;
  float: left;
  width: 100%;
}

#productTable input {
  width: 60px;
}

#loginFormContainer {
  float: left;

}

#messages {
  float: left;
  clear: both;
}

#nav {
  
}

#footer {
    background-color: #336b87;
    clear: both;
    height:5vh;

}

#logoutFormContainer, #loginFormContainer {
  width: 200px;
}

.info {
  color: #00aa00;
}

.warning {
  color: #FFA500;
}

.error {
  color: #ff0000;
}
